<!DOCTYPE html>
<html>
  <head>
    <!-- Set the base href dynamically so that routing works with most servers.
         Don't do this in production!
         Details: https://webdev.dartlang.org/angular/guide/router -->
    <script>document.write('<base href="' + document.location + '"/>');</script>

    <title>Hello Angular</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="styles.css">

    <script defer src="main.dart" type="application/dart"></script>
    <script defer src="packages/browser/dart.js"></script>
  </head>
  <body>
    <my-app>Loading...</my-app>
  </body>
</html>
