# Files and directories created by pub
.buildlog
.packages
.project
.pub/
build/
**/packages/

# Files created by dart2js
*.dart.js
*.part.js
*.js.deps
*.js.map
*.info.json

# Directory created by dartdoc
doc/api/

# This is a library package, so ignore pub lock file
pubspec.lock

# JetBrains IDEs (WebStorm and IDEA are the recomended Dart IDEs) 
.idea/
*.iml
*.ipr
*.iws
