# Files and directories created by pub
.buildlog
.packages
.project
.pub/
build/
**/packages/

# Files created by dart2js
*.js
*.precompiled.js
*.js.deps
*.js.map
*.info.json

# Directory created by dartdoc
doc/

# This is a library package
pubspec.lock
