language: dart
sudo: false
dart:
  # - stable
  - dev

env: # important: w/o this top-level env, no job will be allowed to fail.
  global:
    - DISPLAY=:99.0
  matrix:
    - CI_JOB=tool/travis.sh
    - CI_JOB=tool/version-check-and-update.sh
    - CI_JOB=tool/build-check.sh
    # https://github.com/dart-lang/angular/issues/783, skip Angular tests because of pageloader issue
    # - CI_JOB=tool/web-angular-test.sh

# matrix:
#   exclude:
#   - dart: dev
#     env: CI_JOB=tool/version-check-and-update.sh
#   - dart: dev
#     env: CI_JOB=tool/build-check.sh
#   allow_failures:
#   ## The dev channel is stable enough, report failures now.
#   - dart: dev

script: $CI_JOB

# Only building master means that we don't run two builds for each pull request.
branches:
  only: [master, 2-dev]

cache:
  directories:
    - $HOME/.pub-cache
    - templates/**/.dart_tool
