html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 120px;
  background-color: #e5e4ec;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
}

.navbar {
  margin-bottom: 0;
}

.container {
  max-width: 700px;
}

.footer {
  position: absolute;
  padding: 20px 0 10px 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;
}

.jumbowrapper {
  background-color: #22132E;
  height: 440px;
  background-image: url('banner_stagehand.jpg');
  background-repeat: no-repeat;
  background-position: center;
}

.jumbotron {
  color: white;
  height: 440px;
  max-width: 900px;
  margin: 0 auto;
  font-family: 'Oswald', sans-serif;
  background-color: transparent;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .jumbotron h1 {
    font-size: 83px;
  }
}

@media screen and (max-width: 768px) {
  .jumbotron h1 {
    font-size: 53px;
  }
}

.jumbotron p {
  font-family: 'Roboto', sans-serif;
}

pre code {
  overflow-wrap: normal;
  white-space: pre;
}

aside.alert-warning {
  margin-top: 20px;
  text-align: center;
  background-color: #E3BB52;
}
