<!DOCTYPE html>
<html>
  <head>
    <title>__projectName__</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script async src="main.dart" type="application/dart"></script>
    <script async src="packages/browser/dart.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
      body {
        max-width: 600px;
        margin: 0 auto;
        padding: 5vw;
        font-family: Roboto, Helvetica, Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <my-app>Loading...</my-app>
  </body>
</html>
