<!DOCTYPE html>
<html>
  <head>
    <script>
        // WARNING: DO NOT set the <base href> like this in production!
        // Details: https://webdev.dartlang.org/angular/guide/router
        (function () {
            // App being served out of web folder (like WebStorm does)?
            var match = document.location.pathname.match(/^\/[_\w]+\/web\//);
            var href = match ? match[0] : '/';
            document.write('<base href="' + href + '" />');
        }());
    </script>

    <title>__projectName__</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script defer src="main.dart" type="application/dart"></script>
    <script defer src="packages/browser/dart.js"></script>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <style>
      body {
        max-width: 600px;
        margin: 0 auto;
        padding: 5vw;
        font-family: Roboto, Helvetica, Arial, sans-serif;
      }
    </style>
  </head>
  <body>
    <my-app>Loading...</my-app>
  </body>
</html>
